@import url("navbar_and_footer.css");



/* Body About-Page */
.about-page{
    margin: 2% 8%;
}
.about-page h1{
    padding: 30px;
    color: #ffff;
    background-color: #007997;
}
.boxes{
    display: flex;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.box-1{
    width: 100%;
    height: auto;
    margin-right: 10px;

}
.box-2{
    width: 100%;
    height: 360px;
    
}
.box-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 1px #922d2d;
}

.boxes h2{
    font-weight: 600;
    padding: 20px 60px;
    text-align: center;
}
.boxes p{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin: 20px 10px;
    line-height: 1.5;
    padding: 20px 20px;

}
.devider{
    width: 100%;
    height: 35px;
    background-color: #FECFB2;
    text-decoration: none;
}
.devider-2{
    width: 100%;
    height: 35px;
    background-color: #4E9FB3;
    text-decoration: none;
}



/* ----- Media querry ------ */

@media (max-width:799px) {

    /* Navbar */
    .gradient{
        width: 350px;
    }
    nav img{
        width: 100px;
    }
    #navbar-one .navbar-icons{
        display: none;
    }

    .nav-links .flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 160;
        left: -300px;
        height: 100vh;
        width: 300px;
        background-color: #FF9252;
        box-shadow: 0 40px 60px #0000001a;
        padding: 80px 0 0 10px;
    }
    #navbar li{
        margin-bottom: 20px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #000000;
        font-size: 24px;
        padding-left: 20px;
    }
    /* --- hamburger  */
    .ham-container{
        display: flex;
    }

    /* Body */
    .boxes{
        flex-direction: column;
    }
    .box-1{
        order: -1;
    }



}
