@import url("navbar_and_footer.css");


/* Body Contact-Us */

.contact-body{
    font-family: 'Montserrat', sans-serif;
    margin: 0% 8%;
}
.contact-us{
    position: relative;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    margin: 20px 0px;
}
.contact-us img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: contrast(110%) brightness(150%);
}
.contact-us .overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31459c83; 
    z-index: 1; 
}
.contact-us h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0E0F0F;
    background-color: transparent;
    font-size: 60px;
    text-align: center;
    z-index: 2; 
    
}


/* Opening Hours */

.opening-hours{
    font-size: 20px;
}
.opening-hours h2{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
.opening-hours p{
    text-align: left;
    line-height: 2;
    margin: 30px 100px;
}


/* location/Maps */

.visit-location{
    display: grid;
    place-items: center;
}
.visit-location h2{
    text-align: center;
    font-size: 28px;
    margin-top: 100px;
    margin-bottom: 30px;
    
}
.visit-location iframe{
    height: 500px;
    width: 800px;
}

/* community section (Deleted) */




/* Form */

.send-mail{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    padding-top: 50px;
    width: 90%;
    max-width: 800px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
.con-input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #9998966c;
    color: #000000;
    background: transparent;
    font-size: 16px;
}
.con-label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #999896;
    cursor: text;
    transition: 0.2s;
}
button{
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    outline: none;
    background: #4E9FB3;
    border: 1px solid #999896;
    width: 100%;
    cursor: pointer;
}
.con-input:focus~label,
.con-input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -33px;
    font-size: 14px;
}




/* ----- Media querry ------ */

@media (max-width:799px) {

    /* Navbar */
    .gradient{
        width: 350px;
    }
    nav img{
        width: 100px;
    }
    #navbar-one .navbar-icons{
        display: none;
    }

    .nav-links .flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 160;
        left: -300px;
        height: 100vh;
        width: 300px;
        background-color: #FF9252;
        box-shadow: 0 40px 60px #0000001a;
        padding: 80px 0 0 10px;
    }
    #navbar li{
        margin-bottom: 20px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #000000;
        font-size: 24px;
        padding-left: 20px;
    }
    /* --- hamburger  */
    .ham-container{
        display: flex;
    }

    /* body */

    .contact-us h1{
        font-size: 40px;
    }

    .visit-location iframe{
        height: 350px;
        max-width: 100%;
        padding: 0px 10px;
    }
    .visit-location h2{
        font-size: 18px;
    }
    



}

